*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    user-select: none !important;
    scroll-behavior: smooth;
}
html,
body,
#site{
    background-color: #505358;
}
#sheet{
    cursor: normal;
}
#control-panel{
    width: 100%;
    padding: 1.15em 1em;
    background-color: #34373b;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px 2px #34373ba0;
    user-select: none;
}
.c-panel h1{
    color: #fff;
    font-size: 1.1em;
    font-weight: 400;
    user-select: none;
}
.c-panel h1,
.header-panel-btn{
    font-family: "Rubik", sans-serif;
    user-select: none;
}
.header-panel-btn{
    margin-left: 1em;
    color: #02fff2;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}
#control-download{
    background-color: #34373b;
    border: none;
    &:hover{
        text-decoration: underline;
    }
}
#control-language{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
.sheet{
    margin: 1.8em auto;
    padding: 2em 3.8em;
    max-width: 60%;
    background-color: #f1f2f6;
    border-radius: 3px;
    box-shadow: 0 0 12px 3px #34373ba5;
}
.h2-sheet-wrapper{
    margin: 1.5em 0 1em;
    color: #555;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5em;
    border-radius: 9em;
    box-shadow:
        inset 5px 5px 15px #34373b10,
        -9px -9px 5px #fff,
        9px 9px 5px #50535820,
        inset -5px -5px 15px #fff;
    align-items: center;
}
.h2-sheet-wrapper h2{
    color: #036661;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Rubik", sans-serif;
}
.circle-main-wrapper{
    padding: .55em;
    border-radius: 50% 50% 0 50%;
    box-shadow:
        inset -3px -3px 3px #fff,
        inset 3px 3px 3px #50535820;
}
.circle-contour{
    padding: .55em;
    box-shadow:
        -3px -3px 3px #fff,
        inset 3px 3px 3px #50535820,
        inset -3px -3px 3px #fff,
        3px 3px 3px #50535820;
    border-radius: 50%;
    border-radius: 50% 50% 0 50%;
}
.circle-core{
    padding: .8em 1.2em;
    background-color: #04aaa2;
    box-shadow:
        inset 0 5px 8px #44ebe2,
        inset 0 -5px 8px #036661;
    border-radius: 50%;
}
.circle-core p{
    font-weight: 800;
    color: #fff;
}
.article-main-content{
    margin: 0 2em 4.2em 2em;
    padding: 8px;
    background-color: #f1f2f6;
    box-shadow:
        -4px -4px 5px #fff,
        inset 4px 4px 5px #50535820,
        inset -4px 4px 5px #fff,
        4px 4px 5px #50535820;
    border-radius: 3px;
}
.article-main-content > div{
    padding: 1.4em 2em;
    box-shadow:
        -4px -4px 5px #fff,
        4px 4px 5px #50535820;
    border-radius: 3px;
    position: relative;
}
.art-subtitle{
}
#tbl-review-and-contact-info{
    width: 100%;
    border-collapse: collapse;
}
#tbl-review-and-contact-info td{
    padding: .2em;
}
#tbl-review-and-contact-info td:nth-child(odd){
    width: 15%;
    padding-right: 1.5em;
    text-align: right;
    font-weight: 300;
    font-style: italic;
}
#tbl-review-and-contact-info td:nth-child(even){
    width: 35%;
    text-align: left;
    font-weight: 600;
}
.a-soft-style{
    color: #04aaa2;
    font-weight: 500;
    text-decoration: none;
    transition: .5s;
    &:hover{
        color: #00acfc;
        text-decoration: underline;
    }
}