:root{
    --base: #ebecf0;
    --color: #c3092e;
}
*{
	margin: 0;
	padding: 0;
	/* -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none; */
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
    color: #888;
	font-family: 'Inter', sans-serif;
    font-weight: 400;
}
html{
    background-color: var(--base);
}
body{
    box-shadow:
        inset 20px 12px 9px 9px #bbb,
        inset -20px -12px 9px 9px #fff;
}
button{
    outline: none !important;
}
#site{
    padding-bottom: 1.5em;
}
#home{
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 2em;
    background-color: var(--base);
    box-shadow:
        -16px 0 12px #fff,
        inset 5px 0 5px #efefef,
        inset -5px 0 5px #efefef,
        16px 0 12px #ddd;
}
#interactive-panel{
    padding: 1em 5em;
    display: flex;
    place-items: center;
}
.drivers-wrapper{
    padding: .85em .5em;
}
.drivers-wrapper:nth-child(2),
.drivers-wrapper:nth-child(4),
#interactive-screen{
    border-radius: 1.5em;
    box-shadow:
        -3px -3px 5px #fff,
        inset 9px 9px 9px #ddd,
        inset -9px -9px 9px #fff,
        -3px -3px 5px #ccc;
}
.drivers-wrapper:nth-child(4){
    padding: 1em 1.5em;
    text-align: center;
}
.drivers-wrapper:nth-child(5){
    margin-left: 1.5em;
}
.interactive-driver{
    width: 50px;
    height: 50px;
    margin: .5em .85em;
    background-image: url('../assets/default.png');
    background-size: auto 50%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:
        -3px 0 5px #fff,
        0 -3px 5px #fff,
        3px 0 5px #ddd,
        5px 0 5px #ddd;
    border: none;
    border-radius: 99px;
    transition: .6s;
    position: relative;
    cursor: pointer;
    &:hover{
        box-shadow:
            -9px 0 9px #fff,
            0 -9px 9px #fff,
            9px 0 9px #ddd,
            0 9px 9px #ddd;
    }
    &:focus{
        box-shadow:
            -9px 0 9px #fff,
            0 -9px 9px #fff,
            inset 4px 4px 4px #ddd,
            inset -4px -4px 4px #fff,
            9px 0 9px #ddd,
            0 9px 9px #ddd;
    }
}
.driver-on{
    box-shadow:
        -9px 0 9px #fff,
        0 -9px 9px #fff,
        inset 4px 4px 4px #ddd,
        inset -4px -4px 4px #fff,
        9px 0 9px #ddd,
        0 9px 9px #ddd;
    background-size: 50%;
    cursor: default;
    background-size: 50%;
    &:hover{
        box-shadow:
            -9px 0 9px #fff,
            0 -9px 9px #fff,
            inset 4px 4px 4px #ddd,
            inset -4px -4px 4px #fff,
            9px 0 9px #ddd,
            0 9px 9px #ddd;
    }
}
#driver-review{
    background-image: url('../assets/review.png');
}
#driver-training{
    background-image: url('../assets/training.png');
}
#driver-background{
    background-image: url('../assets/background.png');
}
#driver-achievements{
    background-image: url('../assets/achievements.png');
}
#driver-skills{
    background-image: url('../assets/skills.png');
}
#driver-references{
    background-image: url('../assets/references.png');
}
#driver-hire{
    background-image: url('../assets/hire.png');
}
#driver-print{
    background-image: url('../assets/print.png');
}
#driver-portfolio{
    background-image: url('../assets/portfolio.png');
}
.sensor{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    place-items: center;
    justify-content: center;
    box-shadow:
        -5px 0 5px #fff,
        0 -5px 5px #fff,
        inset 3px 3px 5px #ddd,
        inset -3px -3px 5px #fff,
        5px 0 5px #ddd,
        0 5px 5px #ddd;
}
#sensor{
    width: 10px;
    height: 10px;
    background-color: #a00;
    border-radius: 50%;
    border: none;
}
#interactive-screen{
    margin: 0 5em;
    padding: 1.5em 3em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#items-slate{
    margin: 1em 5em;
    padding: 1em;
    box-shadow:
        -5px -5px 5px #fff,
        inset 2px 2px 2px #fff,
        inset -2px -2px 2px #ddd,
        5px 5px 5px #ddd;
    border-radius: 1em;
}
#items-slate > div{
    padding: .7em;
    box-shadow:
        -2px -3px 3px #fff,
        inset 3px 3px 3px #ddd,
        inset -3px -3px 3px #fff,
        3px 3px 3px #ddd;
    border-radius: 1em;
}
#items-slate > div > div{
    padding: 2em 0;
    box-shadow:
        -2px -3px 3px #fff,
        3px 3px 3px #ddd;
    border-radius: 1em;
}
.item-review{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.review-card{
    margin: 0 1em;
    text-align: center;
    box-shadow:
        -5px -5px 5px #fff,
        5px 5px 5px #ddd;
    border-radius: 2em;
}
#self-picture{
    width: 220px;
    height: 220px;
    margin: 2em auto;
    padding: 15px;
    border-radius: 50%;
    box-shadow:
        -12px 0 12px #fff,
        0 -12px 12px #fff,
        inset 5px 5px 5px #ddd,
        inset -5px -5px 5px #fff,
        12px 0 12px #ddd,
        0 12px 12px #ddd;
}
#content-picture{
    width: 190px;
    height: 190px;
    transition: .05s;
    box-shadow:
        -3px 0 3px #fff,
        0 -3px 3px #fff,
        3px 0 3px #ccc,
        0 3px 3px #ccc;
    border-radius: 50%;
    background-image: url('../assets/self-picture.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    &:hover{
        background-image: url('../assets/self-picture-colored.png');
    }
}
.rc-picture h1{
    font-size: 1.8em;
    color: #444;
}
.rc-picture h2{
    font-size: 1.2em;
}
.rc-picture h3{
    font-size: 1em;
}
.social-btns-wrapper{
    max-width: 100%;
    margin: 1em 0 1em 0;
}
.social-shorcut{
    margin: 1em .5em;
    padding: 1.2em 3em;
    font-size: 1em;
    background-color: var(--base);
    box-shadow:
        -5px 0 9px #fff,
        0 -5px 9px #fff,
        5px 0 9px #bbb,
        0 5px 9px #bbb;
    border-radius: .2em;
    border: none;
    cursor: pointer;
    transition: .5s;
    &:hover{
        color: var(--color);
        translate: 0 -.25em;
    }
}
.review-card:nth-child(2){
    padding: 1em;
    box-shadow:
        -5px -5px 5px #fff,
        inset 5px 5px 5px #ddd,
        inset -5px -5px 5px #fff,
        5px 5px 5px #ddd;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}
.review-card:nth-child(3){
    padding: 2em;
}
.review-card:nth-child(3) h3{
    font-size: 1.3em;
}
.review-sections-controller{
    width: 50px;
    height: 50px;
    margin: 1.25em;
    background-color: var(--base);
    border-radius: 1em;
    border: none;
    box-shadow:
        -5px -5px 5px #fff,
        inset 2px 2px 2px #fff,
        inset -2px -2px 2px #ddd,
        5px 5px 5px #ddd;
    transition: .5s;
    cursor: pointer;
    &:hover{
        box-shadow:
            -9px -9px 12px #fff,
            inset 1px 1px 1px #ddd,
            inset -1px -1px 1px #ddd,
            9px 9px 12px #ddd;
    }
}
.review-sections-controller{
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
}
.review-sections-controller:nth-child(1){
    background-image: url('../assets/robotic-arm.png');
}
.review-sections-controller:nth-child(2){
    background-image: url('../assets/brush.png');
}
.review-sections-controller:nth-child(3){
    background-image: url('../assets/sparks.png');
}
#item-training{
    padding: 0 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.training-info-group{
    padding: .4em;
    margin: 0 1em 2.5em 1em;
    box-shadow:
        -5px -5px 5px #fff,
        inset 5px 5px 5px #ddd,
        inset -5px -5px 5px #fff,
        5px 5px 5px #ddd;
    border-radius: .5em;
}
.training-info-group > div{
    padding: .8em;
    box-shadow:
        -3px -3px 3px #fff,
        inset 3px 3px 2px #fff,
        inset -3px -3px 2px #ddd,
        3px 3px 3px #ddd;
    border-radius: .5em;
}
.training-info-group h3{
    padding: .5em 1em;
    margin-bottom: .5em;
    text-align: center;
    color: #333;
    box-shadow:
        -3px -3px 2px #fff,
        3px 3px 2px #ddd;
    border-radius: .25em;
}
.training-info-group h4{
    padding: .85em 1em;
    margin-bottom: .5em;
    box-shadow:
        inset 3px 3px 3px #ddd,
        inset -3px -3px 3px #fff;
    border-radius: .5em;
}
.training-info-group p{
    padding: .5em 1em;
    font-style: italic;
}
#item-background{
    padding: .25em 2em;
}
.job-history-block{
    padding: .5em;
    margin-bottom: 2em;
    box-shadow:
        -9px -9px 9px #fff,
        9px 9px 9px #ddd;
    border-radius: 5px;
}
.job-history-block > div{
    padding: 1em;
    box-shadow:
        -3px -3px 3px #fff,
        inset 3px 3px 9px 5px #ddd,
        inset -3px -3px 9px 5px #fff,
        3px 3px 3px #ddd;
    border-radius: 5px;
}
.job-history-block h1{
    padding: .5em 1em;
    margin-bottom: .25em;
    color: #888;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2px;
    text-shadow:
        -3px 0 3px #fff,
        0 -3px 3px #fff,
        3px 0 3px #ddd,
        0 3px 3px #ddd;
    box-shadow:
        -2px -2px 1px #fff,
        inset 2px 2px 1px #ddd,
        inset 2px 2px 1px #fff,
        2px 2px 1px #fff;
    border-radius: 1em;
}
.job-history-block h2{
    font-size: 1.2em;
    text-align: center;
}
.job-history-block ul{
    margin-top: 1em;
    line-height: 1.75em;
}
.job-history-block li{
    list-style-type: square;
    list-style-position: inside;
    font-size: 1.1em;
}
#item-achievements{
    padding: 2em;
    margin: 0 1em;
    box-shadow:
        inset 0 15px 5px #ddd,
        inset 15px 0 5px #ddd,
        inset -15px 0 5px #fff,
        inset 0 -15px 5px #fff;
    border-radius: 2em;
}
.ach-awr-wrapper{
    padding: .4em;
    margin: .25em .25em 2em 0;
    border-radius: 1em;
    box-shadow:
        -9px -9px 9px #fff,
        9px 9px 9px #ddd;
}
.ach-awr-wrapper > div{
    padding: 1em;
    box-shadow:
        -2px -2px 2px #fff,
        inset 2px 2px 2px #ddd,
        inset -2px -2px 2px #fff,
        2px 2px 2px #ddd;
    border-radius: 1em;
}
.ach-awr-wrapper > div > div{
    padding: 1em;
    text-align: center;
    box-shadow:
        -9px 0 9px #fff,
        0 -9px 9px #fff,
        9px 0 9px #ddd,
        0 9px 9px #ddd;
    border-radius: 1em;
}
.ach-awr-wrapper > div > div > div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.ach-awr-wrapper h1{
    padding: .3em;
    margin-bottom: 1em;
    box-shadow:
        -1px -1px 1px #fff,
        inset 1px 1px 1px #ddd,
        inset -1px -1px 1px #fff,
        1px 1px 1px #fff;
    border-radius: 3px;
}
.achievements,
.awards{
    box-shadow:
        -3px -3px 3px #fff,
        3px 3px 3px #ddd;
    border-radius: 3px;
}
.achievements{
    margin-right: 1em;
}
.awards{
    margin-left: 1em;
}
.ach-awr-wrapper h2{
    padding: .25em;
    font-size: 1.25em;
    box-shadow:
        inset 2px 2px 3px #ddd,
        inset -2px -2px 3px #fff;
    border-radius: 3px 3px 0 0;
}
.ach-awr-wrapper ul{
    padding: 1em;
}
.ach-awr-wrapper li{
    max-width: 95%;
    margin-bottom: 1em;
    text-align: left;
    list-style-type: square;
    list-style-position: inside;
}
#item-skills{
    padding: 0 1.5em;
}
.item-skills-block > div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item-skills-block h1{
    margin: .75em;
    padding: .3em .5em;
    font-size: 1.5em;
    font-weight: 200;
    box-shadow:
        -5px -5px 5px #ddd,
        inset 5px 5px 5px #ddd,
        inset -5px -5px 5px #fff,
        5px 5px 5px #fff;
    border-radius: 5px;
}
.is-block-for-skills{
    margin: 0 1em 2em 1em;
    padding: .25em;
    box-shadow:
        -5px 0 2px #fff,
        0 -5px 2px #fff,
        5px 0 2px #ddd,
        0 5px 2px #ddd;
    border-radius: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.for-skills-bt{
    margin-right: 1em;
    padding: 2.5em;
    box-shadow:
        inset 3px 3px 3px #ddd,
        inset -3px -3px 3px #fff;
    border-radius: 50%;
    border: none;
    background-image: url('../assets/default.png');
    background-size: 50% auto;
    background-position: center;
    background-repeat: no-repeat;
}
#s-1{
    background-image: url('../assets/networking.png');
}
#s-2{
    background-image: url('../assets/python.png');
}
#s-3{
    background-image: url('../assets/javascript.png');
}
#s-4{
    background-image: url('../assets/database.png');
}
#s-5{
    background-image: url('../assets/java.png');
}
#s-6{
    background-image: url('../assets/c++.png');
}
#s-7{
    background-image: url('../assets/html.png');
}
#s-8{
    background-image: url('../assets/css.png');
}
#s-9{
    background-image: url('../assets/modeling.png');
}
#s-10{
    background-image: url('../assets/art.png');
}
#s-11{
    background-image: url('../assets/computer.png');
}
#item-references{
    padding: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em
}
.ref-block-wrapper{
    padding: 4em 2em 1.5em 2em;
    box-shadow:
        inset 9px 9px 5px #ddd,
        inset -9px -9px 5px #fff;
    border-radius: .5em;
    position: relative;
}
.ref-block-wrapper > div > div:nth-child(1){
    padding: 2.5em;
    background: var(--base) url('../assets/comments.png');
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow:
        inset -5px 3px 5px #fff,
        inset 5px -3px 5px #ddd;
    border-radius: .5em;
    rotate: 45deg;
    position: absolute;
    top: -2.5em;
    left: 2.5em;
}
.ref-block-wrapper h1{
    padding: .3em;
    color: #444;
    font-size: 1.5em;
    box-shadow:
        -1px -1px 1px #eee,
        inset 5px 5px 12px #ddd,
        inset -5px -5px 12px #fff,
        1px 1px 1px #fff;
}
.ref-block-wrapper h2{
    margin: .5em 0;
    padding: .3em 1em;
    color: #aaa;
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
    box-shadow:
        -2px -2px 2px #fff,
        2px 2px 2px #ddd;
    border-radius: 1.5em;
}
.ref-sc-bt{
    margin: .5em .25em;
    padding: 1em;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: .05s;
    &:hover{
        filter: brightness(120%);
    }
}
.ref-linkedin{
    background: url('../assets/linkedin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    &:hover{
        scale: 1.4;
        translate: 0 -.5em;
    }
}
.ref-phone{
    background: url('../assets/phone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    &:hover{
        scale: 1.4;
        translate: 0 -.5em;
    }
}
.ref-email{
    background: url('../assets/email.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    &:hover{
        scale: 1.4;
        translate: 0 -.5em;
    }
}
.ref-block-wrapper p{
    margin: 1em 0;
    line-height: 1.55em;
}
#item-portfolio{
    width: calc(100% - 4em);
    margin: 0 2em;
}
#pfs-controls{
    padding: 1em;
    display: flex;
    flex-flow: row;
    justify-content: center;
    box-shadow:
        -2px -5px 3px #fff,
        inset 5px 5px 10px 9px #ddd,
        inset -5px -5px 10px 9px #fff,
        2px 5px 3px #ddd;
    border-radius: 5px;
}
.ps-bt{
    margin: .5em 1em;
    padding: 1em 2em;
    background-color: var(--base);
    border: none;
    border-radius: 5px;
    box-shadow:
        -5px -5px 4px #fff,
        5px 5px 4px #ddd;
    cursor: pointer;
    transition: .25s;
    &:hover{
        box-shadow:
            -5px -5px 4px 5px #fff,
            5px 5px 4px 5px #ddd;
    }
    &:focus{
        box-shadow:
            -5px -5px 4px 5px #fff,
            inset 3px 3px 4px #ddd,
            inset -3px -3px 4px #fff,
            5px 5px 4px 5px #ddd;
    }
}
.ps-bt-active,
.ps-bt-active:hover{
    box-shadow:
        -5px -5px 4px 5px #fff,
        inset 3px 3px 4px #ddd,
        inset -3px -3px 4px #fff,
        5px 5px 4px 5px #ddd;
    cursor: default;
}
#pfs-pages{
    margin: 1em 0;
    padding: 1em;
    box-shadow:
        inset 2px 2px 5px #ddd,
        inset -2px -2px 5px #fff;
}
.pfs-page{
    display: none;
}
.pfs-page > div{
    display: flex;
    flex-flow: row;
}
.pfs-prod-table{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfs-page table{
    min-width: 100%;
}
.pfs-page tr{
    box-shadow:
        -2px -2px 2px #fff,
        2px 2px 2px #ddd;
    border-radius: 3em;
}
.pfs-page th{
    padding: 1.65em 0 1em 0;
    color: var(--color);
    font-weight: 300;
    font-size: 1.1em;
    box-shadow:
        inset 2px 2px 2px #ddd,
        inset -2px -2px 2px #fff;
    border-radius: 3em;
}
.pfs-page td{
    padding: 1em .25em;
    text-align: center;
    border-radius: 1em;
    box-shadow:
        inset 4px 4px 2px #ddd,
        inset -4px -4px 2px #fff;
}
.pfs-prod-name{
    text-align: left !important;
    padding-left: 1em !important;
}
.foo-more-portfolio{
    margin: 1.5em 0;
    padding: 1em;
    box-shadow:
        2px 2px 1px #ddd,
        -2px -2px 1px #fff;
    border-radius: 5px 1em;
}
.foo-more-portfolio a{
    color: var(--color);
    text-underline-position: under;
    cursor: pointer;
}








.items-slate{
    display: none !important;
}
#item-portfolio{
    display: inline-block !important;
}
.pfs-page:nth-child(2){
    display: inline-block;
}