:root{
    --base: #ebecf0;
    --color: #c3092e;
}
*{
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
    color: #888;
	font-family: 'Inter', sans-serif;
    font-weight: 400;
}
html{
    background-color: var(--base);
}
body{
    box-shadow:
        inset 20px 12px 9px 9px #bbb,
        inset -20px -12px 9px 9px #fff;
}
button{
    outline: none !important;
}
#home{
    max-width: 80%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 2em;
    background-color: var(--base);
    box-shadow:
        -16px 0 12px #fff,
        inset 5px 0 5px #efefef,
        inset -5px 0 5px #efefef,
        16px 0 12px #ddd;
}
#interactive-panel{
    padding: 1em 5em;
    display: flex;
    place-items: center;
}
.drivers-wrapper{
    padding: 1.5em 1em;
}
.drivers-wrapper:nth-child(2),
.drivers-wrapper:nth-child(4),
#interactive-screen{
    border-radius: 1.5em;
    box-shadow:
        -3px -3px 5px #fff,
        inset 9px 9px 9px #ddd,
        inset -9px -9px 9px #fff,
        -3px -3px 5px #ccc;
}
.drivers-wrapper:nth-child(4){
    padding: 1.5em 3em;
    text-align: center;
}
.drivers-wrapper:nth-child(5){
    margin-left: 1.5em;
}
.interactive-driver{
    width: 60px;
    height: 60px;
    margin: .5em 1.5em;
    box-shadow:
        -9px -9px 9px 9px #fff,
        inset 2px 2px 9px #fff,
        inset -2px -2px 9px #ddd,
        9px 9px 9px 9px #ddd;
    border: none;
    border-radius: 99px;
    transition: .4s;
    cursor: pointer;
}
.driver-on{
    box-shadow:
        -3px -3px 3px 5px #ddd,
        inset 3px 3px 2px 3px #fff,    
        inset -3px -3px 2px 3px #ddd,
        3px 3px 3px 5px #fff;
    cursor: default;
    &:hover{
        box-shadow:
            -3px -3px 3px 5px #ddd,
            inset 3px 3px 2px 3px #fff,    
            inset -3px -3px 2px 3px #ddd,
            3px 3px 3px 5px #fff;
        scale: 1;
    }
}
.interactive-driver{
    background-image: url('../assets/default.png');
    background-size: auto 40%;
    background-position: center;
    background-repeat: no-repeat;
    transition: .05s;
    &:hover{
        background-size: auto 55%;
    }
}
#driver-review{
    background-image: url('../assets/review.png');
    &:hover{background-image: url('../assets/review-colored.png');}
}
#driver-training{
    background-image: url('../assets/training.png');
    &:hover{background-image: url('../assets/training-colored.png');}
}
#driver-background{
    background-image: url('../assets/background.png');
    &:hover{background-image: url('../assets/background-colored.png');}
}
#driver-achievements{
    background-image: url('../assets/achievements.png');
    &:hover{background-image: url('../assets/achievements-colored.png');}
}
#driver-skills{
    background-image: url('../assets/skills.png');
    &:hover{background-image: url('../assets/skills-colored.png');}
}
#driver-references{
    background-image: url('../assets/references.png');
    &:hover{background-image: url('../assets/references-colored.png');}
}
#driver-hire{
    background-image: url('../assets/hire.png');
    &:hover{background-image: url('../assets/hire-colored.png');}
}
#driver-print{
    background-image: url('../assets/print.png');
    &:hover{background-image: url('../assets/print-colored.png');}
}
.sensor{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    place-items: center;
    justify-content: center;
    box-shadow:
        -5px 0 5px #fff,
        0 -5px 5px #fff,
        inset 3px 3px 5px #ddd,
        inset -3px -3px 5px #fff,
        5px 0 5px #ddd,
        0 5px 5px #ddd;
}
#sensor{
    width: 10px;
    height: 10px;
    background-color: #a00;
    border-radius: 50%;
    border: none;
}
#interactive-screen{
    margin: 0 5em;
    padding: 1.5em 3em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
#items-slate{
    margin: 1em 5em;
    padding: 1em;
    box-shadow:
        -5px -5px 5px #fff,
        inset 2px 2px 2px #fff,
        inset -2px -2px 2px #ddd,
        5px 5px 5px #ddd;
    border-radius: 1em;
}
#items-slate > div{
    padding: .7em;
    box-shadow:
        -2px -3px 3px #fff,
        inset 3px 3px 3px #ddd,
        inset -3px -3px 3px #fff,
        3px 3px 3px #ddd;
    border-radius: 1em;
}
#items-slate > div > div{
    padding: 2em;
    box-shadow:
        -2px -3px 3px #fff,
        3px 3px 3px #ddd;
    border-radius: 1em;
}