:root{
    --base: #2c3dff;
    --hbase: #0000ed;
}
*{
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
	font-weight: 400;
    font-size: 1em;
	font-family: 'Inter', sans-serif;
    transition: .15s;
}
a{
    cursor: pointer;
}
#site{
    max-width: 100%;
    animation: slide-in .5s;
}
@keyframes slide-in{
    from{
        opacity: 0;
        translate: 0 2em;
    }
    60%{
        translate: 0 -1em;
    }
}
.resume-section-home{
    width: 100%;
    padding: 1em;
    text-align: right;
}
.resume-section-home button{
    text-decoration: none;
    border: none;
    cursor: pointer;
}
#google-resume{
    margin: .8em 1em;
    color: #000;
    background-color: #fff;
    &:hover{
        text-decoration: underline;
    }
    &:focus{
        color: var(--base);
    }
}
#google-contact{
    padding: .8em 3em;
    color: #fff;
    background-color: var(--base);
    border-radius: 5px;
    &:hover{
        background-color: var(--hbase);
        box-shadow: 0 0 5px 4px #e8e8e8;
    }
    &:focus{
        background-color: var(--base);
        box-shadow: none;
        animation: bt-pressed .4s;
    }
}
.resume-section-intro{
    margin: 0 auto;
    max-width: fit-content;
    text-align: center;
    position: relative;
}
#owner-img{
    margin: 0 auto;
    border-radius: 2em;
}
#widget-search-bar{
    position: relative;
}
#search-field{
    display: block;
    padding: .75em 1.25em;
    min-width: 40vw;
    border: 1px solid #e8e8e8;
    border-radius: 1.5em;
    cursor: pointer;
    z-index: 9;
    &:hover{
        box-shadow: 0px 0px 5px #c1c1c1;
    }
    &:focus{
        border: 1px solid #c1c1c1;
        outline: none;
        box-shadow: none;
    }
}
#search-field::placeholder{
    color: #c1c1c1;
}
#search-options{
    padding: 1em 1.5em;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    text-align: left;
    box-shadow: 0 3px 3px #c1c1c1;
    border-radius: 0 0 1em 1em;
    display: none;
    animation: slidein-rsi .25s;
}
@keyframes slidein-rsi{
    from{
        opacity: 0;
        translate: 0 .5em;
    }
}
.search-shortcut{
    margin: .5em 0;
    color: var(--base);
    text-decoration: none;
    display: none;
    &:hover{
        color: var(--hbase);
        translate: .5em 0;
    }
}
.ss-highlight{
    &:hover{
        color: rgb(225, 173, 16);
    }
}
.resume-search-foo{
    margin: 1em .25em;
    padding: .6em 2.2em;
    color: #000;
    background-color: #eef1f4;
    border: none;
    outline: none;
    border-radius: .5em;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 3px 1px #c1c1c1;
    }
    &:focus{
        outline: 1px solid var(--base);
    }
}
.lang{
    margin: 2em 0;
    font-size: .8em;
    color: #aaa;
}
.lang a{
    color: var(--base);
    &:hover{
        color: var(--hbase);
    }
}
#foo{
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: .5em;
    background-color: #eef1f4;
    animation: show-foo .25s;
    display: none;
}
@keyframes show-foo{
    from{
        translate: 0 2em;
        opacity: 0;
    }
    60%{
        translate: 0 -1em;
    }
}
#info-bar{
    width: 100%;
    text-align: center;
    position: absolute;
}
#info-datetime{
    text-align: right;
    z-index: 9;
}
#home-header{
    padding: 1.5em;
    background-color: #f5f4f4;
    display: grid;
    grid-template-columns: min-content min-content;
}
#just-name{
    height: 2em;
    cursor: pointer;
    align-self: center;
    position: relative;
}
#input-searchbar{
    margin: 0 2em;
    padding: .4em .5em;
    min-width: 25vw;
    color: #555;
    background: #fff url('../media/search.png');
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    align-self: center;
    &:focus{
        outline: none;
    }
}
#nav-bar{
    padding: 0 7em;
    box-shadow: inset 0 -2px 2px 2px #c1c1c133;
}
#decorative-nav-foo{
    padding: 1.6em 0 .25em 8.5em;
    font-size: 13px;
    color: #555;
}
.nav-bar-item{
    padding: 1em;
    background-color: #fff0;
    border: none;
    cursor: pointer;
    &:hover{
        color: var(--base);
        text-decoration: underline;
    }
    &:focus{
        outline: none;
    }
}
.nv-active-link{
    color: var(--base);
    border-bottom: 4px solid var(--base);
    cursor: default;
    &:hover{
        text-decoration: none;
    }
}
#core{
    padding: 2em 3em 3em 0;
    display: grid;
    grid-template-columns: 60% 40%;
}
.core-area{
    margin: .85em 0;
    padding: .8em;
    padding: 0 7em;
    filter: grayscale(40%);
}
.core-area h1{
    width: fit-content;
    color: var(--base);
    font-size: 1.3em;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        color: var(--hbase);
        text-decoration: underline;
    }
}
.core-area h2{
    color: #1f8724;
    font-size: 1.1em;
    font-weight: 400;
}
.core-area p{
    color: #555;
    font-weight: 1em;
}
#related{
    margin: 2em 7em;
}
.a-related{
    width: fit-content;
    color: var(--base);
    font-size: 1.1em;
    text-decoration: none;
    display: block;
    position: relative;
    &:hover{
        color: var(--hbase);
        text-decoration: underline;
        translate: 1.5em 0;
    }
}
.a-related:hover::before{
    content: '↗️';
    position: absolute;
    right: 100%;
    bottom: 0;
}
.a-related-2:hover{
    color: rgb(225, 173, 16);
    translate: 2.5em 0;
}
.a-related-2:hover::before{
    content: '↗️✨';
}
#contact-card{
    margin: 1em 7em;
    padding: 1.6em;
    color: #333;
    min-width: calc(100% - 14em);
    box-shadow: 0 0 5px #c1c1c1;
    border-radius: 3px;
}
#contact-card h3{
    font-size: 1.75em;
}
#contact-card h4{
    margin: .8em 0;
    font-size: 1.1em;
}
#contact-card-launcher{
    margin-top: .5em;
    padding: .5em 1.5em;
    color: #fff;
    font-size: 1.1em;
    background-color: var(--base);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover{
        background-color: var(--hbase);
    }
    &:focus{
        background-color: var(--base);
        animation: bt-pressed .4s;
    }
}
@keyframes bt-pressed{
    50%{
        scale: .9;
    }
}
#r-side{
    box-shadow: 0 0 5px 1px #c1c1c1;
}
#r-side div:nth-child(2){
    padding: 2em;
}
#avatar{
    width: 100%;
}
#r-side h1{
    font-size: 2em;
}
#r-side h2{
    font-size: 1.2em;
    padding: 1em 0;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}
.shadowed-banner{
    padding: 2em 0;
    font-size: 1.2em;
}
.shadowed-banner p{
    margin-bottom: .85em;
    color: #555;
}
.shadowed-banner span{
    font-weight: 600;
    color: #333;
}