:root{
    --base: #ebecf0;
    --color: #c3092e;
}
*{
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
    color: #333;
	font-family: 'Inter', sans-serif;
    font-weight: 300;
}
html{
    background-color: var(--base);
}
body{
    box-shadow:
        inset 20px 12px 9px 9px #bbb,
        inset -20px -12px 9px 9px #fff;
}
#home{
    max-width: 75%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 2em;
    background-color: var(--base);
    box-shadow:
        -16px 0 12px #fff,
        inset 5px 0 5px #efefef,
        inset -5px 0 5px #efefef,
        16px 0 12px #ddd;
}
#interactive-panel{
    padding: 1em 5em;
    display: flex;
    place-items: center;
}
.drivers-wrapper{
    padding: 1.5em;;
}
.drivers-wrapper:nth-child(2), .drivers-wrapper:nth-child(4){
    border-radius: 1.5em;
    box-shadow:
        -3px -3px 5px #fff,
        inset 9px 9px 9px #ddd,
        inset -9px -9px 9px #fff,
        -3px -3px 5px #ccc;
}
.drivers-wrapper:nth-child(4){
    padding: 1.5em 3em;
    text-align: center;
}
.iteractive-driver{
    width: 60px;
    height: 60px;
    margin: .5em 1.5em;
    box-shadow:
        -9px -9px 9px 9px #fff,
        inset 2px 2px 9px #fff,
        inset -2px -2px 9px #ddd,
        9px 9px 9px 9px #ddd;
    border: none;
    border-radius: 99px;
    transition: .4s;
    cursor: pointer;
    &:hover{
        scale: .9;
    }
}
.driver-on{
    box-shadow:
        -3px -3px 3px 5px #ddd,
        inset 3px 3px 2px 3px #fff,    
        inset -3px -3px 2px 3px #ddd,
        3px 3px 3px 5px #fff;
    cursor: default;
    &:hover{
        box-shadow:
            -3px -3px 3px 5px #ddd,
            inset 3px 3px 2px 3px #fff,    
            inset -3px -3px 2px 3px #ddd,
            3px 3px 3px 5px #fff;
        scale: 1;
    }
}