:root{
    --base: #ebecf0;
    --color: #c3092e;
}
*{
	margin: 0;
	padding: 0;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	cursor: default;
}
html,
html *{
    background-color: var(--base);
	font-family: 'Inter', sans-serif;
}
#home{
    max-width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 2em;
    box-shadow:
        -12px 0 12px #fff,
        inset 5px 0 5px #efefef,
        inset -5px 0 5px #efefef,
        12px 0 12px #ddd;
}
